@use '../abstracts' as *;

.seccion-servicios {
  @include border;

  padding: 20px;

  .doblaje {
    &--demo {
      aspect-ratio: 16 / 9;
      width: 100%;
      flex-basis: 500px;
    }
  }

  .locucion {
    &--info {
      :last-child {
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
      }
    }
    &--audio {
      width: 50%;
      display: block;
    }
    &--imagen {
      aspect-ratio: 12 / 16;
      width: 100%;
      max-width: 350px;
    }
  }
}
