@use '../abstracts' as *;

.enlace {
  color: $color-yellow;
  text-decoration: none;
  &:hover,
  &[aria-current='page'] {
    color: $color-secondary;
    text-decoration: underline;
  }
}

.seccion-bordeada {
  @include roundBorder;

  position: relative;
  &--titulo {
    position: absolute;
    font-size: $title-font-size;
    top: -40px;
    left: 0;
  }

  @include respond(phone) {
    flex-direction: column;
    border: none;
    margin-top: 20px;
    &--titulo {
      font-size: $title-font-size-sm;
      top: -10px;
      left: 20px;
    }
  }
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.contenedor-bordeado {
  @include roundBorder;
}

.imagen--animated {
  &__right {
    animation: moveInRight 1s ease-out;
  }
  &__left {
    animation: moveInLeft 1s ease-out;
  }
}

.bd-placeholder-img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 100%;
  object-fit: cover;
}

.icon-link {
  display: inline-flex;
  gap: 0.375rem;
  align-items: center;
  -webkit-text-decoration-color: rgba(
    var(--bs-link-color-rgb),
    var(--bs-link-opacity, 0.5)
  );
  text-decoration-color: rgba(
    var(--bs-link-color-rgb),
    var(--bs-link-opacity, 0.5)
  );
  text-underline-offset: 0.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
