@use '../abstracts' as *;

.enlace {
  color: $color-yellow;
  text-decoration: none;
  &:hover,
  &[aria-current='page'] {
    color: $color-secondary;
    text-decoration: underline;
  }
}

.seccion-bordeada {
  @include roundBorder;

  position: relative;
  &--titulo {
    position: absolute;
    font-size: $title-font-size;
    top: -40px;
    left: 0;
  }

  @include respond(phone) {
    flex-direction: column;
    border: none;
    margin-top: 20px;
    &--titulo {
      font-size: $title-font-size-sm;
      top: -10px;
      left: 20px;
    }
  }
  @include respond(tab-port) {
    flex-direction: column;
  }
}

.contenedor-bordeado {
  @include roundBorder;
}

.imagen--animated {
  &__right {
    animation: moveInRight 1s ease-out;
  }
  &__left {
    animation: moveInLeft 1s ease-out;
  }
}
